*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}


#BG {
    background-image: url(./ezgif.com-gif-maker.gif); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    position: relative;
}

.note {
    position:absolute;
    top: 50%;
    left: 10%;
}